@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Wix+Madefor+Display:wght@500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/background.jpg);
    background-position: center center;
    background-size: contain;


}

nav {
    width: 100%;
    height: 40px;
    background-color: #ae2131;
    display: flex;
    align-items: center;
    margin-bottom: 2px;

}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding-right: 15px;
    margin-left: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav a:hover {
    padding: 3px;
    text-decoration: underline;
    background-color: #e600608e;
    color: black;
}

main {
    height: 98%;
    background-image: url(../imgs/backgroundraposa.jpg);
    background-position: right bottom;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.527);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.779);
    border-radius: 5px 5px 5px 5px;
}


main>section {
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    height: 70%;
    width: 30%;
    background-image: linear-gradient(to top, rgb(255, 255, 255), #b699e4);
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.483);
    margin: 20px;
    margin-left: 135px;
    border-radius: 20px;
    transition: transform 1.1s ease;
}

.sobreposicao {
    background-image: linear-gradient(to top, rgb(255, 255, 255), #b699e4);

    /* Um fundo branco semi-transparente */
    width: 900px;
    min-height: 700px;
    max-height: 3000px;
    padding-top: 10px;
    margin-top: 30px;
    box-shadow:inset 9px 7px 47px rgba(0, 0, 0, 0.656);
    padding-bottom: 30px;
}

.sobreposicao>h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 300;
    color: black;
    
}

main>section:hover {
    transform: scale(1.1);
    /* Amplia a imagem em 10% ao passar o mouse */
    border-radius: 20px;
    height: 90%;

}

.fotosextras {
    display: block;
    width: 80%;
    height: 500px;
    border-radius: 2px 2px 15px 15px;
    margin: auto;
    left: 100px;
}





.imgs {
    display: block;
    margin: auto;
    width: 93%;
    height: 370px;
    border-radius: 2px 2px 15px 15px;
    margin: 10px;
    padding-left: 4px;
    transition: transform 1s ease;


}


.imgs:hover {
    transform: scale(1.1);
    /* Amplia a imagem em 10% ao passar o mouse */
    border-radius: 20px;
    height: 340px;
    width: 92%;



}

@media (max-width: 700px) {
    main>section>h5 {
        font-family: 13px;
    }
}

@media (max-width: 700px) {
    main>section {
        width: 350px;
        height: 69%;
    }
}
@media (max-width: 900px) {
    main>section {
        width: 350px;
        height: 69%;
    }
}


@media (max-width: 768px) {
    #fotosextras {
        width: 50%;
        height: 500px;
        left: 100px;
       
        
    }

}

footer {
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: black;
    color: white;
    align-items: center;
    margin-top: 10px;
}

footer>p{
    margin: auto;
}