@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Wix+Madefor+Display:wght@500;600;700&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(../imgs/background.jpg);

    background-repeat: repeat;
    background-size:contain;

}

header {
   

    width: 100%;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, black, rgb(72, 6, 6));
}

header img {
    padding-top: 10px;
    width: 160px;
    height: 160px;
}

header h1 {
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 1px black;
    font-size: 29px;
    margin-top: 10px;
}

header small {
    color: white;
    padding-top: 15px;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #ae2131;
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.468);

}

nav a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 15px;
    margin-left: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav a:hover{
    padding: 3px;
    text-decoration: underline;
    background-color: #e600608e;
    color: black;
   
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 280px;
    max-width:900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 0px 0px 10px 10px;
    min-height: 1200px;
    max-height: 2800px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.504);
}

main h1{
    font-family: 'Wix Madefor Display', sans-serif;

}

main p {
    text-indent: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height: 2em;
    font-size: 16px;
}

main>div>img {
    width: 90%;
    height: 95%;
    border: 2px solid #00000079;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.504);
    margin:auto;
    border-radius: 10px;


}
@media screen and (max-width: 768px) {
    
    main>div>img {
        width: 65%;
        height: 70%;
    }
  }

main div {
    border: 2px double red;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    width: 100.9%;
    height: 499px;
    background-color: #ae2131;
    margin: 0px -10px -6px -6px;
}

footer {
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: black;
    color: white;
    align-items: center;
}

footer>p{
    margin: auto;
}